.input {
    display: flex;
    flex-direction: column;
    font-family: Inter;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: var(--grey-3);
}

.input__field {
    display: flex;
    flex-direction: column;
}

.input__input {
    all: unset;
    border-radius: 8px;
    fill: #fff;
    border: 1px solid;
    border-color: var(--grey-2);
    min-height: 56px;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    padding-left: 24px;
    padding-right: 40px;
    color: var(--grey-4);
    cursor: auto;
}

.input__input::placeholder {
    color: var(--grey-2);
}

.input__input:focus {
    border-color: var(--blue);
    box-shadow: 0 1px 1px 0 rgba(51, 154, 240, 0.1);
}

.input__icon {
    position: absolute;
    padding-top: 16px;
    padding-right: 16px;
    align-self: flex-end;
}

.input__icon_success {
    display: none;
}

.input__icon_error {
    display: none;
}

.input_success .input__icon_success {
    display: initial;
}

.input_error .input__icon_error {
    display: initial;
}

.input_success .input__input  {
    border-color: var(--blue);
}

.input_success .input__input:focus {
    border-color: var(--blue);
}

.input_error .input__input  {
    border-color: var(--error);
}

.input_error .input__input:focus {
    border-color: var(--error);
}